swagger: '2.0'
info:
  title: DM+D API
  description: A simplified presentation of the NHS Dictionary of Medications and Devices
  version: "1.0.0"
# the domain of the service
host: systems.digital.nhs.uk
# array of all schemes that your API supports
schemes:
  - https
  - http
# will be prefixed to all paths
basePath: /v0.0.1
produces:
  - application/json
paths:
  /amp/{ampid}:
    get:
      summary: Actual Medicinal Product (AMP)
      description: |
        An Actual Medicinal Product (AMP) is a single dose unit of a finished dose form (unless the product is presented as a continuous dosage form), attributable to an identified supplier that contains a specified amount of an ingredient substance.
        
          Examples of Actual Medicinal Products:-
          - Atenolol 100mg tablets (Almus Pharmaceuticals Ltd)
          
          - Tenormin 100mg tablets (AstraZeneca UK Ltd)
          
          - Estracombi TTS patches (Novartis Pharmaceuticals UK Ltd) 
          
          - Augmentin 375mg tablets (GlaxoSmithKline UK Ltd) 
          
          - Doxorubicin 10mg/5ml solution for injection vials (Pfizer Ltd) 
          
          - Efudix 5% cream (Meda Pharmaceuticals Ltd)

      parameters:
        - name: ampid
          in: path
          description: Actual medicinal product identifier. This code will be taken from the UK extension namespace section of SNOMED CT.
          required: true
          type: number
          format: integer
        - name: summary
          in: query
          description: Return only a minimal response containing mandatory items
          required: false
          allowEmptyValue: true
          type: boolean
          default: false
        - name: release
          in : query
          description: The specific version of DM+D to return content from. If not present the current content is returned.
          required: false
          default: "current"
          type: string
      responses:
        200:
          description: An AMP
          schema:
            $ref: '#/definitions/AMP'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
            
            
  /vmp/{vmpid}:
    get:
      summary: Virtual Medicinal Product (VMP)
      description: |
        A Virtual Medicinal Product is an abstract concept representing a template of the properties which constitute one or more actual medicinal products.

      parameters:
        - name: vmpid
          in: path
          description: Virtual medicinal product identifier. This code will be taken from the UK extension namespace section of SNOMED CT.
          required: true
          type: number
          format: integer
        - name: summary
          in: query
          description: Return only a minimal response containing mandatory items
          required: false
          allowEmptyValue: true
          type: boolean
          default: false
        - name: release
          in : query
          description: The specific version of DM+D to return content from. If not present the current content is returned.
          required: false
          default: "current"
          type: string
      responses:
        200:
          description: A VMP
          schema:
            $ref: '#/definitions/VMP'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
            
            
definitions:
  AMP:
    required:
    - ampid
    - name
    - vmpid
    type: object
    properties:
      ampid:
        type: integer
        description: Actual medicinal product identifier. Code taken from the UK extension namespace section of Snomed CT.
        x-mapping: f_amp2:/ACTUAL_MEDICINAL_PRODUCTS/AMPS/AMP/APID
      invalid:
        type: boolean
        description: True indicates that this dictionary entry is invalid.
        default: false
      vmpid:
        type: integer
        description: Unique identifier for the associated Virtual Medicinal Product.
        x-mapping: f_amp2:/ACTUAL_MEDICINAL_PRODUCTS/AMPS/AMP/VPID
      vmp_name:
        type: string
        description: Name of the associated Virtual Medicinal Product. Further details can be retrieved from the VMP resource
        x-mapping: vmpid->f_vmp2:/VIRTUAL_MEDICINAL_PRODUCTS/VMPS/VMP[VPID=$vmpid]/NM
      combination_product:
        description: |
          Flag denoting that the AMP is a combination product or is only available as a component of a combination product (i.e. not available in its own right).
          
          * `1` - combination product
          * `2` - component only product
        type: number
        format: integer
        enum: 
          - 1
          - 2
      name:
        type: string
        description: Name of the Actual Medicinal Product.
      name_date:
        type: string
        format: date
        description: date from which the name became the preferred name for the Actual Medicinal Product as specified by the supplier
      prev_name:
        type: string
        description: Name used prior to name_date.
      short_name:
        type: string
        description: An abbreviation of the AMP name up to 60 characters which can be used for labelling
      description:
        type: string
        description: A unique description of the AMP that is used to identify the actual medicinal product. This will consist of AMP name + product order number + size + colour + (Supplier). Product order number, size and colour are applicable for appliances only.
      supplierid:
        type: number
        format: integer
        description: Snomed CT code identifying the supplier, details of which can be retrieved from the Supplier resource
      flavour:
        type: boolean
        description: Flavour is true this is a definitional attribute of the AMP i.e. where a supplier provides 2 or more AMPs that are clinically equivalent and differentiated only by flavour
        default: false
      ema_additional_monitoring:
        type: boolean
        description: Product is on the list of medicinal products under additional monitoring issued by the European Medicines Agency (EMA)
        default: false
      parallel_import:
        type: boolean
        description: AMP has been procured and imported from within the European Union. These AMPs will have a parallel import product licence - PL(PI)
        default: false
      licensing_authority:
        description: |
          
          Current Licensing authority
                    
          * `0` - None
          * `1` - Medicines - MHRA / EMA
          * `2` - Devices 
          * `3` - Unknown
          * `4` - Traditional Herbal Medicines

        type: string
        enum: 
          - 0
          - 1
          - 2
          - 3
          - 4
      prev_licensing_authority:
        description: |
        
          Previous Licensing authority
          
          * `0` - None
          * `1` - Medicines - MHRA / EMA
          * `2` - Devices 
          * `3` - Unknown
          * `4` - Traditional Herbal Medicines
 
        type: number
        format: integer
        enum: 
          - 0
          - 1
          - 2
          - 3
          - 4
      licensing_authority_change_date:
        type: string
        format: date
        description: Date at which the licensing authority changed
      licensing_authority_change_reason:
        type: integer
        description: |
        
          The reason for license authority change
          
          * `1` - Licence granted
          * `2` - Licence transferred
          * `3` - Withdrawn manufacturer
          * `4` - Withdrawn CHM
          * `5` - Suspended CHM
          * `6` - Discontinued/expired/lapsed
          * `7` - Reintroduced
          * `8` - No reason available

        enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          
      availability_restriction:
        type: integer
        description: |
          Restrictions on availability
          
          * `1` - None
          * `2` - Restricted availability
          * `3` - Individual patient supply
          * `4` - Imported
          * `5` - Clinical trial
          * `6` - Special
          * `7` - Extemporaneous
          * `8` - Hospital only
          * `9` - Not available
        enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
      licensed_route:
        description: licensed route of administration of the AMP
        type: array
        items:
          type: object
          properties:
            code:
              description: concept ID
              type: integer
            desc:
              description: Snomed preferred term
              type: string
        
      excipient:
        type: array
        description: substance other than an ‘ingredient substance’ that furnishes an effect deemed significant
        items:
          type: object
          properties: 
            ingredient:
              type: object
              properties:
                code:
                  description: concept ID
                  type: integer
                desc:
                  description: Snomed preferred term
                  type: string
            strength:
              type: integer
            unit_of_measure:
              type: object
              properties:
                code:
                  description: concept ID
                  type: integer
                desc:
                  description: Snomed preferred term
                  type: string
            
      applicance_info:
        type: array
        items:
          type: object
          properties: 
            size_weight:
              description: Information relating to the size of an appliance where this information is not captured within the AMP name e.g. incontinence sheaths where the size may be expressed in mm, by description (small) or both. 
              type: string
            colour: 
              description: Occasionally colour is useful in determining which of a number of optional devices is appropriate.  
              type: string
            order_number:
              description: Up to 20 chars
              type: string

  VMP:
    required:
      - vmpid
      - name
    type: object
    properties:
      vmpid:
        description: Unique identifier for the Virtual Medicinal Product. Snomed CT id
        type: integer
      name: 
        description: The ‘long’ version of the medicinal product name. May change between releases
        type: string
      invalid:
        type: boolean
        description: True indicates that this dictionary entry is invalid.
      vtmid: 
        description: ID of the associated Virtual Therapeutic Moiety
        type: integer
      vmpid_date:
        description: date from which the vmpid is applicable
        type: string
        format: date
      previous_vmpid:
        description: Previously allocated unique identifier for the Virtual Medicinal Product. Snomed CT id.
        type: integer
      combination_product:
        description: |
          Where true denotes a combination product or only available as a component of a combination product (i.e. not available in its own right. 
          
          Examples- 
          * Combination product - Conjugated Oestrogens 1.25mg tablets and Norgestrel 150microgram tablets. 
          * Component only – Norgestrel 150microgram tablets.  

        type: boolean
      name_basis:
        description: |
          Basis or source of VMP name expressed as a code value
          
          Values-
          
          * `1` - Recommended International Non-proprietary Name – rINN
          * `2` - British Approved Name - BAN
          * `3` - British Approved Name (Modified) – BANM
          * `4` - International Non-proprietary Name (Modified) – INNM
          * `5` - Proposed International Non-proprietary Name – pINN
          * `6` - United States Adopted Name – USAN
          * `7` - Other
          
        type: integer
        
      name_date:
        description: Date from which the name became the preferred name for the medicinal product.
        type: string
        format: date
        
      prev_name:
        description: Long name used prior to name_date
        type: string
        
      prev_name_basis:
        description: |
          Basis or source of prev_name expressed as a code value
          
          Values-
          
          * `1` - Recommended International Non-proprietary Name – rINN
          * `2` - British Approved Name - BAN
          * `3` - British Approved Name (Modified) – BANM
          * `4` - International Non-proprietary Name (Modified) – INNM
          * `5` - Proposed International Non-proprietary Name – pINN
          * `6` - United States Adopted Name – USAN
          * `7` - Other
          
        type: integer
        enum: 
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7

      name_change_reason:
        description: |
          Reason for change of VMP text name, expressed as a code value

          Values-
          
          * `1` - Replacement of temporary name
          * `2` - ew approved generic name available
          * `3` - Basis of name changed
          * `4` - Other
          
        type: integer
        enum: 
          - 1
          - 2
          - 3
          - 4
        
      short_name:
        description: An abbreviated version of the name up to 60 characters
        type: string
        
      sugar_free:
        description: Is medicinal product a sugar-free formulation
        type: boolean
        default: false
        
      gluten_free:
        description: Is medicinal product a gluten-free formulation
        type: boolean
        default: false
        
      preservative_free:
        description: Is medicinal product a preservative-free formulation
        type: boolean
        default: false
           
      cfc_free:
        description: Is medicinal product a CFC-free formulation
        type: boolean
        default: false
        
      prescribing_status:
        description: |
          Prescribing status of the product expressed as a code value.
          
          Values-
          
          * `1` - valid as a prescribable product
          * `2` - Invalid to prescribe in NHS primary care
          * `4` - never valid to prescribe as a VMP
          * `6` - VMP not recommended to prescribe - brands not bioequivalent
          * `7` - VMP not recommended to prescribe - patient training required
          * `8` - VMP not recommended to prescribe -no published specification  
          
        type: integer
        enum: 
          - 1
          - 2
          - 4
          - 6
          - 7
          - 8
          
      availability:
        description: |
          Indicator of availablity of corresponding Actual Medicinal Products.
          
          Values-
          
          * `0` - actual products are now available (though not necessarily prescribable in primary care) but have been unavailable in the past.
          * `1` - actual products no longer available
          * `9` - AMPs available now
          
        type: integer
        enum: 
          - 0
          - 1
          - 9
        default: 9
          
      availability_date:
        description: date of availability status
        type: string
        format: date
        
      dose_form:
        description: |
          This attribute identifies if the VMP has a unit dose form (a discrete unit dose is applicable e.g. tablet, ampoule), if it may be regarded as a continuous substance (that is a consistent physically measurable unit or sub-unit cannot be defined e.g. cream, eye drops) or if it belongs to a category of product for which unit dose form is not appropriate (catheters, colostomy bags, ACBS foods)

          Values-
          
          * `1` - Discrete
          * `2` - Continuous
          * `3` - Not applicable
          
        type: integer
        enum: 
          - 1
          - 2
          - 3
        default: 3
          
      unit_dose_form_size:
        description: a numerical value
        type: number
        format: real
          
      unit_dose_form_units:
        description: The UoM relating to unit_dose_form_size. Only populated where unit_dose_form_size = 1
        type: object
        properties:
          code:
            description: concept ID
            type: integer
          desc:
            description: Snomed preferred term
            type: string
          
      unit_dose_uom:
        description: A description of the entity/‘thing’ that can be handled
        type: object
        properties:
          code:
            description: concept ID
            type: integer
          desc:
            description: Snomed preferred term
            type: string
      
      form:
        description: Product form (from List C in Editorial Policy). Examples- effervescent tablet, sachet, injection
        type: string
        
      form_route:
        description: The physical conformation of the drug and its mode(s) of administration.
        x-mapping: amp f_vmp2_$date.xml:/ONT/[VPID=$vmp]FORMCD to f_lookup2_$date
        type: array
        items:
          type: string
          
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
        
  SnomedConcept:
    type: object
    properties:
      code:
        description: concept ID
        type: integer
      desc:
        description: Snomed preferred term
        type: string
