swagger: '2.0'
info:
  title: EPS DoS API
  description: A reliable Directory of Service for EPS Dispensers
  version: "v0.0.1"
# the domain of the service
host: dos.eps.digital.nhs.uk
# array of all schemes that your API supports
schemes:
  - https
  - http
# will be prefixed to all paths
basePath: /v0.0.1
produces:
  - application/json
paths:
  /dispenser/{ods}:
    get:
      summary: Dispenser
      description: |
        A dispensing contractor, including Dispensing Applicance Contractors and Internet Pharmacies.
      parameters:
      - in: path
        name: ods
        description: The ODS code of the dispenser
        required: true
        type: string
      responses:
        200:
          description: A dispenser
          schema:
            $ref: '#/definitions/dispenser'
        404:
          description: Dispenser not found
        429:
          description: Exceeded rate limit
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /dispensers/byLocationDisposition:
    get:
      summary: Search dispensers by disposition & location 
      description: |
        Searches for a suitable dispenser based on patient location and disposition, ensuring that opening times fall within the timeframe required by the disposition. 
        Optionally filtering by service type and distance. Returns a maximum of five matching dispensers. 
      parameters:
      - name: postcode
        in: query
        description: Postcode of patient location. Must be URL-encoded.
        required: true
        type: string
      - name: distance
        in: query
        description: The maximum distance from postcode to search, in km. Defaults to 36.
        required: false
        allowEmptyValue: true
        type: number
        format: decimal
        default: 36.0
      - name: disposition
        in: query
        type: string
        description: |
            The patient disposition. The service only supports prescrition and dispenser-related dispositions. Only permits a single disposition. 
            Supported dispositions are:
              * `Dx85` - Repeat prescription required within 2 hours
              * `Dx86` - Repeat prescription required within 12 hours
              * `Dx87` - Repeat prescription required within 24 hours
              * `Dx80` - Repeat prescription required within 6 hours
        enum: [Dx85,Dx86,Dx87,Dx80]
      - name: service_type
        in: query
        description: |
          Service type:
              * `eps_pharmacy` - An EPS R2 enabled community pharmacy
              * `eps_dac` - An EPS R2 enabled dispensing applicance contractor (DAC)
              * `eps_internet` - An EPS R2 enabled internet pharmacy
              * `pharmacy` - A community pharmacy
              * `dac` - A dispensing applicance contractor (DAC)
              * `internet` - An Internet pharmacy
        type: string
        enum: [eps_pharmacy, eps_dac, eps_internet, pharmacy, dac, internet]
      responses:
        200:
          description: Up to five dispensers
          schema:
            type: array
            items:
              $ref: '#/definitions/dispenser'
        400:
          description: Invalid search
        429:
          description: Exceeded rate limit
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
            
  /dispensers/byName/{name}:
    get:
      summary: Search dispensers by name
      description: Search dispensers by name with simple wildcards allowed. Optionally filter by service type and distance.
      parameters:
        - name: name
          in: path
          description: The name of the dispenser, including wildcards. Permitted wildcards are [*,?]
          required: true
          type: string
        - name: service_type
          in: query
          description: >
            Service type:
              * `eps_pharmacy` - An EPS R2 enabled community pharmacy
              * `eps_dac` - An EPS R2 enabled dispensing applicance contractor (DAC)
              * `eps_internet` - An EPS R2 enabled internet pharmacy
              * `pharmacy` - A community pharmacy
              * `dac` - A dispensing applicance contractor (DAC)
              * `internet` - An Internet pharmacy
              * 'dispenser' - All dispensers
          type: string
          required: false
          default: dispenser
          enum: [eps_pharmacy, eps_dac, eps_internet, pharmacy, dac, internet, dispenser]
        - name: postcode
          in: query
          description: Postcode of patient location. Must be URL-encoded.
          required: false
          allowEmptyValue: false
          type: string
        - name: distance
          in: query
          description: The maximum distance from postcode to search, in km. Defaults to 36. Ignired where postcode not present.
          required: false
          allowEmptyValue: true            
          type: number
          format: decimal
          default: 36.0
      responses:
        200:
          description: Matching dispensers
          schema:
            type: array
            items:
              $ref: '#/definitions/dispenser'
        400:
          description: Invalid search
        429:
          description: Exceeded rate limit
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
            
definitions:
  dispenser:
    required:
    - ods
    - name
    - service_type
    type: object
    properties:
      ods:
        type: string
        description: ODS code of the dispenser
      name:
        type: string
        description: Name of the dispenser
      service_type:
        description: >
            Service type:
              * `eps_pharmacy` - An EPS R2 enabled community pharmacy
              * `eps_dac` - An EPS R2 enabled dispensing applicance contractor (DAC)
              * `eps_internet` - An EPS R2 enabled internet pharmacy
              * `pharmacy` - A community pharmacy
              * `dac` - A dispensing applicance contractor (DAC)
              * `internet` - An Internet pharmacy
        type: string
        enum: [eps_pharmacy, eps_dac, eps_internet, pharmacy, dac, internet]
      address:
        description: Street address of the dispenser
        type: object
        properties:
          line:
            type: array
            items:
              type: string
          postcode:
            type: string
      patient_contact:
        description: contact details for the patient to contact the dispenser
        type: object
        properties:
          tel:
            type: string
          fax:
            type: string
          email: 
            type: string
          web_address:
            type: string
      prescriber_contact:
        description: contact details for the prescriber to contact the dispenser
        type: object
        properties:
          tel:
            type: string
          fax:
            type: string
          email: 
            type: string
          web_address:
            type: string
      location:
        type: object
        properties:
          lat:
            type: number
            format: decimal
          lon:
            type: number
            format: decimal
      opening:
        type: object
        properties:
          open_247:
            type: boolean
            description: indicates the service is open 24/7, in which case normal opening times not shown
          sun:
            $ref: '#/definitions/OpeningTime'
          mon:
            $ref: '#/definitions/OpeningTime'
          tue:
            $ref: '#/definitions/OpeningTime'
          wed:
            $ref: '#/definitions/OpeningTime'
          thu:
            $ref: '#/definitions/OpeningTime'
          fri:
            $ref: '#/definitions/OpeningTime'
          sat:
            $ref: '#/definitions/OpeningTime'
          # TODO: this would be better keyed off the bank holiday name enum
          bank_holiday:
            type: array
            items: 
              type: object
              properties:
                name:
                  type: string
                  enum: [christmas,boxing,easter,may,new_year,bank_holiday]
                  description: |
                    Bank holiday:
                      * `christmas` - Christmas day bank holiday
                      * `boxing` - Boxing day bank holiday
                      * `easter` - Easter bank holiday
                      * `may` - May bank holiday
                      * `new_year` - New Years Day bank holiday
                      * `bank_holiday` - Other bank holiday
                open:
                  type: string
                  description: Unqualified local time in HH:MM format
                close:
                  type: string
                  description: Unqualified local time in HH:MM format
            # TODO: this would be better keyed off the date
          specified_date:
            type: array
            items: 
              type: object
              properties:
                date:
                  type: string
                  format: date
                  description: ISO 8601-format date only
                open:
                  type: string
                  description: Unqualified local time in HH:MM format
                close:
                  type: string
                  description: Unqualified local time in HH:MM format
      referral_instructions:
        type: string
        description: TODO
      call_handler_instructions:
        type: string
        description: TODO
      disposition_instructions:
        type: string
        description: TODO
    example: 
      ods: FLM42
      name: Vantage Pharmacy
      service_type: eps_pharmacy
      address:
        line:
        - 123 Brown Street
        - 
        - York
        postcode: YO1 3EH
      patient_contact:
        tel: 01952784465
        fax: 01952784460
        web_address: http://www.vantage-pharmacy.co.uk
      prescriber_contact:
        tel: 01952784470
        fax: 01952784460
      location:
        lat: 55.45673
        lon: 1.45678
      opening:
        open_247: false
        sun:
        mon: 
          open: "08:00"
          close: "18:00"
        tue: 
          open: "08:00"
          close: "18:00"
        wed: 
          open: "08:00"
          close: "18:00"
        thu: 
          open: "08:00"
          close: "18:00"
        fri:
          open: "08:00"
          close: "18:00"
        sat: 
          open: "08:00"
          close: "12:00"
      bank_holiday:
        - name: christmas
        - name: boxing
        - name: bank_holiday
          open: "09:00"
          close: "12:00"
  OpeningTime:
    type: object
    properties:
      open:
        type: string
        description: Unqualified local time in HH:MM format
      close:
        type: string
        description: Unqualified local time in HH:MM format
          
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
